[kafka]
test_bootstrap_servers = test-kafka-server.com:9092
production_bootstrap_servers = kafka-server.com:9092
send_topic = SEND_TOPIC
user = USER_NAME
pwd = USER_PWD
security_protocol = SASL_PLAINTEXT
sasl_mechanism = PLAIN

