# report gallery

[sample]
base_dir = /home/huanglj/proj/report_gallery/sample
entry = report_sample.ipynb
toc_level = 2
add_heading_number = True
include_foreword = False
include_article_summary = False
oss_dir = sample

