# report gallery

[sample]
base_dir = /home/huanglj/proj/report_gallery/sample
entry = report_sample.ipynb
toc_level = 2
add_heading_number = True
include_foreword = False
include_article_summary = False
oss_dir = erdaoqu

[mathDiagnosisK8_v1]
base_dir = /home/huanglj/proj/report_gallery/mathDiagnosisK8_v1
entry = mathPersonalPrmy-20200730.ipynb
toc_level = 0
add_heading_number = False
include_foreword = False
include_article_summary = False
oss_dir = mathDiagnosisK8_v1
