[kafka]
sundial_servers = inner-kafka-server.com:9092
beta_servers = beta-kafka-server.com:9092
production_servers = kafka-server.com:9092
send_topic = SEND_TOPIC
callback_topic = CALLBACK_TOPIC
user = USER_NAME
pwd = USER_PWD
security_protocol = SASL_PLAINTEXT
sasl_mechanism = PLAIN

[aliyun]
access_id = XXXX
access_secret = XXXX
oss_endpoint_name = oss-cn-beijing.aliyuncs.com
oss_bucket_name = XXX
dummy_oss_url = dummy.url.cn
