# general config

[general]
mp_worker_num = 10
in_queue_size = 100
out_queue_size = 20
cache_queue_size = 200
cache_max_time = 600

[aliyun]
access_id = XXXX
access_secret = XXXX
oss_endpoint_name = oss-cn-beijing.aliyuncs.com
oss_bucket_name = XXX
dummy_oss_url = dummy.url.cn

[kafka]
bootstrap_servers = localhost:9092
rec_topic = RECEIVED_TOPIC
rec_grp = USER_GRP
send_topic = SEND_TOPIC
user = USER_NAME
pwd = USER_PWD
security_protocol = SASL_PLAINTEXT
sasl_mechanism = PLAIN
auto_offset_rst = earliest

[mongodb]
msg2db = False
db_url = mongodb.url.com
db_port = 27017
db_name = msgdb
collection_name = msgs
db_user = XXX
db_pwd = XXX
