# general config

[mongodb]
inner_urls = 127.0.0.1:27017
beta_urls = 127.0.0.1:27018,127.0.0.1:27019
beta_replica_set_name = beta
production_urls = 127.0.0.1:27020,127.0.0.1:27021
production_user = user
production_pwd = password
production_replica_set_name = production
pool_db = datapool
